body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f8fa;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
}

main {
    margin-top: 20px;
}

.latest-topics {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; /* Center the text */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.loginMessage {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    font-weight: bold;
}

.createTopicButton {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.createTopicButton:hover {
    background-color: #0056b3;
}

.create-topic {
    text-align: center; /* Center the text in the create-topic section */
    margin-top: 20px; /* Add margin to separate from the latest-topics section */
}
